    <section id="page-<%= page %>-section-<%= section.num %>"<% if (section.reblogged) { %> class="reblogged"<% } %>>
      <h1><a href="#page-<%= page %>-section-<%= section.num %>">P.<%= page %> S.<%= section.num %></a></h1>
      <figure>
        <q><img src="<%= section.photo_uri %>" /></q>
        <figcaption>
          <dl>
            <dt>Blog Name</dt>
            <dd class="blog_name"><%= section.blog_name %></dd>
            <dt>Date</dt>
            <dd><time datetime="<%= section.date.toISOString() %>"><%= section.date %></time></dd>
            <dt>POST URI</dt>
            <dd><cite><a href="<%= section.uri %>" class="uri"><%= section.uri %></a></cite></dd>
          </dl>
          <form action="/_reblog/<%= section.id %>?reblog_key=<%= section.reblog_key %>" method="GET">
            <input type="hidden" name="reblog_key" value="<%= section.reblog_key %>" />
            <p><button type="submit">REBLOG</button></p>
          </form>
        </figcaption>
      </figure>
    </section>
