    <section id="page-<%= page %>-section-<%= section.num %>">
      <h1><a href="#page-<%= page %>-section-<%= section.num %>">P.<%= page %> S.<%= section.num %></a></h1>
      <figure>
        <img src="<%= section.photo_uri %>" />
        <figcaption>
          <dl>
            <dt>Blog Name</dt>
            <dd class="blog_name"><%= section.blog_name %></dd>
            <dt>Date</dt>
            <dd><time datetime="<%= section.date.toISOString() %>"><%= section.date %></time></dd>
            <dt>POST URI</dt>
            <dd><a href="<%= section.uri %>" class="uri"><%= section.uri %></a></dd>
          </dl>
          <form action="/_reblog/<%= section.id %>?reblog_key=<%= section.reblog_key %>" method="GET">
            <p><input type="submit" value="REBLOG!" /></p>
          </form>
        </figcaption>
      </figure>
    </section>
